name: Build tagged version

on:
    push:
        tags:
            - "*.*.*.*.*" # Triggers on tags like 1.0.0.build.1, 1.0.1.build.2, etc.

jobs:
    git:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v4

            - name: Get version
              id: get-version
              run: |
                  # Extract full tag (e.g., 1.0.0.build.1)
                  FULL_TAG=${GITHUB_REF#refs/tags/}
                  echo "version=$FULL_TAG" >> $GITHUB_OUTPUT
                  echo "tag=$FULL_TAG" >> $GITHUB_OUTPUT
                  echo "Version: $FULL_TAG"

    fixcore:
        runs-on: ubuntu-latest
        needs: git
        steps:
            - name: Build fixcore
              run: |
                  docker build -f Dockerfile.fixcore -t ascintra-fixcore-${{ needs.git.outputs.version }} .

    fixmetrics:
        runs-on: ubuntu-latest
        needs: git
        steps:
            - name: Build fixmetrics
              run: |
                  docker build -f Dockerfile.fixmetrics -t ascintra-fixmetrics-${{ needs.git.outputs.version }} .

    fixshell:
        runs-on: ubuntu-latest
        needs: git
        steps:
            - name: Build fixshell
              run: |
                  docker build -f Dockerfile.fixshell -t ascintra-fixshell-${{ needs.git.outputs.version }} .

    fixworker:
        runs-on: ubuntu-latest
        needs: git
        steps:
            - name: Build fixworker
              run: |
                  docker build -f Dockerfile.fixworker -t ascintra-fixworker-${{ needs.git.outputs.version }} .